<div id="{{note.id}}" class="note blue_border">
  <div class="note_info blue_border">
    <p class="name blue_border">{{note.name}}</p>
    <div class="details blue_border">
        <p>Position: {{note.position}}</p>
        <p>Type: {{note.techniqueType}}</p>
        <p>{{note.counterName}}: {{note.counter}}</p>
    </div>
  </div>

  <img class="blue_border" src="{{note.image}}">

  <div class="note_description blue_border">
      <textarea rows=11>{{note.description}}</textarea>
  </div>
</div>
