<div class="nav black_border">
  <h1>J<span>i</span>u J<span>i</span>tsu Notes</h1>
  <img src="../../assets/belt.png">
  <div class="register">
    <form [formGroup]='user' (ngSubmit)='onSubmit()'>
      <h3>Register</h3>
      <div class="group">
        <label for="username">Username:</label>
        <br />
        <input type="text" id="username" formControlName='username'>
        <div class="redText" *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
          Username is required
        </div>
        <div class="redText" *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
          Username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
        </div>
        <div class="redText" *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
          A user with that name already exists
        </div>
      </div>
      <div formGroupName='passwordGroup'>
        <div class="group">
          <label for="password">Password:</label>
          <br />
          <input type="password" id="password" formControlName='password'>
          <div class="redText" *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
            Password should be at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters
          </div>
        </div>
        <div class="group">
          <label for="confirmpassword">Confirm password:</label>
          <br />
          <input type="password" id="confirmpassword" formControlName='confirmPassword'>
        </div>
        <div class="redText" *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
         Password and password confirmation should be equal
        </div>
      </div>
      <button type='submit' [disabled]='!user.valid'>Register</button>
      <br />
      <a routerLink="/login" >I already have an account</a>
    </form>
  </div>
</div>

<app-welcome></app-welcome>

